html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

.header {
  background-color: black;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  top: 0px;
  left: 0px;
  right: 0px;
}

.header .logo {
  height: 50px;
  padding-left: 10px;
}

.header a {
  color: seashell;
}

.nav {
  text-decoration: underline;
}
